---

---

<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>关于 - 我的博客网站</title>
	</head>
	<body>
        <a href="/">主页</a>
		<a href="/blog">博客</a>
		<a href="/about">关于</a>

		<h1>关于</h1>
        <h2>关于本站</h2>
        <p>这是一个使用 Astro 构建的示例网站，展示了 Astro 的功能和优势。</p>
        <h2>关于我</h2>
        <p>我是一个 Web 开发者，喜欢使用 Astro 构建网站。</p>
	</body>
</html>
