---

---

<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>博客 - 我的博客网站</title>
	</head>
	<body>
        <a href="/">主页</a>
		<a href="/blog">博客</a>
		<a href="/about">关于</a>

		<h1>博客</h1>
        <p>欢迎来到我的博客！这里将分享我的想法和经验。</p>
	</body>
</html>