---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "博客";
---
<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
        <p>欢迎来到我的博客！这里将分享我的想法和经验。</p>
        
        { allPosts.map(
            (post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)
        }
</BaseLayout>